
h3 To register please check the details and if correct click the below link

h4 Name: #{name}
h4 email: #{email}
h4 Contact Number: #{contact}
h4 College: #{college}
h4 Password: #{password}

h3 To complete registration please click 
<a href= #{link}>Here</a>

h3 Thankyou for registering!